:host mat-form-field {
    width: 100%;
    padding: 10px;
}

:host button {
  margin: 10px;
}

.example-container {
    width: 400px;
    max-width: 100%;
    
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: #DDDDDD;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 0px 0px 0px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


  .box {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }

  .head-title {
    margin: 0;
    padding: 10px;
    background-color: #DDDDDD;
    border-radius: 4px;
    color: #777272;
    font-size: 1.5rem;
    font-weight: 600;
    span{
      font-weight: normal;
    }
  }

  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .fa-list-ol {
    animation: heartBeat 1s infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .fa-clock{
    animation: spinner 1s infinite;
  }

  @keyframes check{
    0% {
      transform: translate(0, 0) scale(0);
    }
    60% {
      transform: translate(0, 0) scale(1.1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  

  .fa-check {
    animation: check 1s infinite;
    color: #00e676;
  }
  